# This file specifies files that are *not* uploaded to Google Cloud
# using gcloud. It follows the same syntax as .gitignore.

# Dependencies
node_modules/

# Build outputs
.next/
out/

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Git
.git/
.gitignore

# Environment files
.env.local
.env.development.local
.env.test.local
.env.production.local

